.list {
    &__entry {
        &--nested {
            li {
                margin: 0;
                list-style-type: square;
                max-width: 30ch;
                padding: $s-3 $s1;
            }
        }

        &--selected {
            background-color: var(--active-colour);

            a {
                color: var(--background-colour);
                text-decoration: none;
                text-decoration-style: none;
            }

        }
    }
}