.site-running {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 0;

    a {
        color: $dark-grey;
    }

    > * + * {
        margin: 0;
    }

    &--header {
        border-bottom: 2px solid $dark-grey;
    }

    &--footer {
        justify-content: center;
        border-top: 2px solid $dark-grey;
        padding: 0;
    }
}
