
// using css custom properties for dark/light mode. Further research in due course
:root {
    --dark-grey: #373737;
    --grey: #aaa;
    --off-white: #f8f8ff;

    --active-colour: var(--dark-grey);
    --background-colour: var(--off-white);
}


@media (prefers-color-scheme: dark) {
    :root {
        --active-colour: var(--off-white);
        --background-colour: var(--dark-grey);
    }

}

// variables
@import "variables/spacing";
@import "variables/typographyScale";
@import "typography";

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-colour);
    color: var(--active-colour);
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    font-size: $size-500;
}

hr {
    border: 1px dashed var(--active-colour);
    margin: $s1 0;
}

main {
    margin: 0 auto;
    padding: 0;

    @media (min-width: 40em) {
        max-width: 60ch;
    }
}

.wrapper {
    padding-left: $s1;
    padding-right: $s1;
}

// primitives
@import "primitives/stack";
@import "primitives//sidebar";

// components
@import "components/site-running";
@import "components/toc";
@import "components/collapsible";
@import "components/topics";
@import "components/list";
@import "components/warning";

// utilities
@import "utilities/skipLink";