
// variables
@import "variables/colours";
@import "variables/spacing";
@import "variables/typographyScale";
@import "typography";

body {
    font-family: 'Roboto', sans-serif;
    font-size: $size-500;
    color: $dark-grey;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}

hr {
    border: 1px dashed $dark-grey;
    margin: $s1 0;
}

main {
    margin: 0 auto;
    padding: 0;

    @media (min-width: 40em) {
        padding: 0 $s5;
    }
}

.wrapper {
    padding-left: $s1;
    padding-right: $s1;
}

// primitives
@import "primitives/stack";
@import "primitives//sidebar";

// components
@import "components/site-running";
@import "components/topics";
@import "components/list";
@import "components/warning";

// utilities
@import "utilities/skipLink";